DB_CONNECTION_STRING=Server=tcp:SEU_SERVIDOR.database.windows.net,1433;Initial Catalog=oficina_db;User ID=seu_usuario;Password=sua_senha;
EMAIL_ADDRESS=seu_email@gmail.com
EMAIL_PASSWORD=sua_senha_de_app
