DB_USER=postgres
DB_PASSWORD=@Postech$2026
DB_NAME=oficina_db
DB_CONNECTION_STRING=Host=db;Port=5432;Database=oficina_db;Username=postgres;Password=@Postech$2026
JWT_SECRET=chave-super-secreta-minimo-32-caracteres
JWT_ISSUER=oficina-api
JWT_AUDIENCE=oficina-clientes
