DB_CONNECTION_STRING=Server=tcp:SEU_SERVIDOR.database.windows.net,1433;Initial Catalog=oficina_db;User ID=seu_usuario;Password=sua_senha;
JWT_SECRET=chave-super-secreta-minimo-32-caracteres
JWT_ISSUER=oficina-api
JWT_AUDIENCE=oficina-clientes
EMAIL_ADDRESS=seu_email@gmail.com
EMAIL_PASSWORD=sua_senha_de_app
